#? stdtmpl | standard
#proc basePage(param: BasePageParams): string =
#  let appName = param.appName
#  result = ""
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>${param.title}</title>
        <link type="text/css" rel="stylesheet" href="${appName}/new.min.css"/>
        <link type="text/css" rel="stylesheet" href="${appName}/new-opt.css"/>
        <link type="text/css" rel="stylesheet" href="${appName}/menu.css"/>
        <link type="text/css" rel="stylesheet" href="${appName}/form.css"/>
        ${param.lnk.join("\n" & ' '.repeat(8))}
    </head>
    <body>
        <header>
            ${param.header.join("\n" & ' '.repeat(12))}
        </header>
        <div class="body">
            <main>
                ${param.body.join("\n" & ' '.repeat(16))}
            </main>
            <aside class="menu">
                ${param.sidemenu.join("<br>\n" & ' '.repeat(16))}
            </aside>
        </div>
        <footer>
            ${param.footer.join("\n" & ' '.repeat(12))}
        </footer>
        <script>const appName = "${appName}";</script>
        <script src="${appName}/functions.js"></script>
        ${param.script.join("\n" & ' '.repeat(8))}
    </body>
</html>
