#? stdtmpl | standard
#proc changepwPageBody(userid, back: string): string =
#  result = ""
<form id="changepwfrm">
    <div>
        <span>ユーザーID: ${userid}</span>
    </div>
    <label>旧パスワード<input type="password" name="oldpasswd" placeholder="old password"/></label>
    <label>新パスワード<input type="password" name="passwd" placeholder="new password"/></label>
    <label>再入力<input type="password" name="pcheck" placeholder="再入力"/></label>
    <button type="button" id="changepwbtn">OK</button>
</form>
<a href="${back}">戻る</a>
