#? stdtmpl | standard
#proc loginPageBody(userid, next: string): string =
#  result = ""
<form id="loginfrm">
    ${next}
    <label>ユーザー名<input name="userid" value="${userid}" placeholder="ユーザー名"/></label>
    <label>パスワード<input type="password" name="passwd" placeholder="password"/></label>
    <button type="button" id="loginbtn">ログイン</button>
    <button type="button" id="newuserbtn">新規登録</button>
</form>
