#? stdtmpl | standard
#proc samplePageBody(user: LoginUser): string =
#  result = ""
<div>
    #if user.id == "":
    <span>ユーザー情報なし</span>
    #else:
    <span>ID: ${user.id}</span><br>
    <span>Enable: ${user.isEnable}</span>
    #end if
</div>
<form id="samplefrm">
    <label>title<input name="input1"/></label>
    <label>other title<input name="input2"/></label>
    <div>
        <label><input type="checkbox" name="checkbox1"/>check box</label>
    </div>
    <fieldset>
        <legend>radio</legend>
        <div>
            <label><input type="radio" name="radio"/>radio1</label>
        </div>
        <div>
            <label><input type="radio" name="radio"/>radio2</label>
        </div>
    </fieldset>
    <label>select
        <select name="select1">
            <option>opt1</option>
            <option>opt2</option>
        </select>
    </label>
    <label>textarea
        <textarea name="textarea1"></textarea>
    </label>
    <button>OK</button>
</form>
