@charset "utf-8";
/* CSS Document */

form {
    textarea,
    select,
    input {
        display: block;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: unset;
    }

    label input[type="checkbox"],
    label input[type="radio"] {
        margin-right: 4px;
    }
}
