@charset "utf-8";
/* CSS Document */

#lay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nc-tx-1);
    opacity: 0.20;
    z-index: 10;
}

#pop {
    display: none;
    position: fixed;
    padding: 16px;
    left: calc(10% - 16px);
    top: calc(10% - 16px);
    right: calc(10% - 16px);
    bottom: calc(10% - 16px);
    background-color: var(--nc-bg-1);
    border-radius: 5px;
    overflow: auto;
    z-index: 10;
}
