@charset "utf-8";
/* CSS Document */

.table {
    width: fit-content;
    max-height: 70vh;
    max-width: calc(100% - 24px);
    padding-right: 18px;
    overflow: auto;
}

.table table {
    border-spacing: 0;
    border-left: 1px solid lightgray;
    white-space: nowrap;
}

.table th {
    position: sticky;
    top: 0;
    background: #F6F6F6;
    z-index: 1;
}

.table th, .table td {
    padding: 0 4px;
    border: 1px solid lightgray;
    border-left: none;
}

.table td {
    border-top: none;
    background: white;
}
